.conteiner-search-grid {
  width: 100%;
  min-height: 100dvh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grid-turmas {
  min-width: 100%;
}

.grid-search {
  width: 100%;
  display: flex;
  align-items: center;
}

.grid-search input {
  width: 100%;
  font-size: 18px;
  background: transparent;
  outline: none;
  border: none;
  padding: 5px;
}

.grid-search input:focus {
  transition: all 0.7;
  border-bottom: 1px solid #00487C;
}

.grid-search svg {
  font-size: 24px;
  color: rgba(0, 0, 0, .5);
}