.conteiner-search-grid {
  width: 100%;
  min-height: 100dvh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.grid-turmas {
  min-width: 100%;
}

.grid-search {
  width: 100%;
  display: flex;
  align-items: center;
}

.grid-search svg {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.buttonCreate {
  all: unset;
  position: fixed;
  right: 100px;
  bottom: 15dvh;
  text-align: center;

}

.buttonCreate svg {
  cursor: pointer;
  font-size: 70px;
  color: #1a237e;
  transition: all 0.3s ease;
}


.buttonCreate svg:hover{
  cursor: pointer;
  color: #17803f;
}
