.atividades-page {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 85dvw;
  min-height: 90dvh;
}

.atividades-page h2 {
  margin-bottom: 20px;
  color: #0d1440;
  font-size: 24px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  width: 40%;
}

/* Lista */
.atividades-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.buttonsAtividades {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}




.atividade {
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 500px;
  cursor: pointer;
}

.atividade-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 16px;
  transition: background 0.2s;
  font-weight: bold;
  color: #0d1440;
}

.atividade:hover, .atividade-detalhes:hover {
  background: #f0f2fa;
}

.status {
  font-weight: bold;
  text-transform: uppercase;
}

/* Status cores */
.atividade.pendente .status {
  color: #ff9800;
}

.atividade.em-análise .status {
  color: #2196f3;
}

.atividade.entregue .status {
  color: #4caf50;
}

/* Conteúdo expandido */
.atividade-detalhes {
  padding: 20px;
  border-top: 1px solid #eee;
  background: transparent;
  overflow: hidden;
}

.descricao {
  margin-bottom: 15px;
  color: #333;
}

/* Caixa de resposta */
textarea {
  width: 80%;
  min-height: 100px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  resize: vertical;
  font-size: 14px;
  margin-bottom: 15px;
  transition: border 0.3s;
}

textarea:focus {
  border-color: #0d1440;
  outline: none;
}

/* Botões */
.btn-entregar,
.btn-validar {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.btn-entregar {
  background: #ff9800;
  color: white;
}

.btn-entregar:disabled {
  background: #ffc77d;
  cursor: not-allowed;
}

.btn-validar {
  background: #2196f3;
  color: white;
}

.texto-analise {
  color: #2196f3;
  font-weight: 500;
  margin-bottom: 10px;
}

.texto-sucesso {
  color: #4caf50;
  font-weight: bold;
}
