.sidebar {
  width: 15vw;
  min-height: 80dvh;
  background: #0d1440; /* azul escuro */
  color: white; /* letras brancas */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile h3 {
  margin-top: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

.logout {
  all: unset;
}

.logout:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
